[run]
source = cje
branch = True
omit =
    */tests/*
    */__pycache__/*
    */site-packages/*
    cje/experiments/*
    cje/examples/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod

precision = 2
skip_covered = False
show_missing = True

[html]
directory = htmlcov

[xml]
output = coverage.xml